.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: var(--color-input);
  border-radius: 10px;
}

.noPointer {
  cursor: default !important;
}

.text {
  display: flex;
  align-items: center;
}

.label {
  color: var(--color-textIconsWhite);
  background-color: #007aff;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 11px;
  font-weight: 500;
  margin-left: 6px;
}

.paddingY-6 {
  padding: 6px 16px;
}

.paddingY-10 {
  padding: 10px 16px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;

  input {
    text-align: right;
  }
}

.disabled {
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.chevron {
  width: 7px;
  max-width: 7px;
  min-width: 7px;
  height: 12px;
  max-height: 12px;
  min-height: 12px;

  svg {
    height: 100%;
    width: 100%;
  }
}

.dark {
  svg {
    path {
      stroke: #545458;
    }
  }
}
