@use 'variables' as *;

html[data-theme='light'] {
  --color-backgroundSecondary: #{$palette-dark4};
  --color-backgroundTertiary: #{$palette-white100};
  --color-backgroundPrimary: #{$palette-white100};
  --color-textIconsPrimary: #{$palette-dark100};
  --color-textIconsSecondary: #{$palette-transparentDark75};
  --color-textIconsTertiary: #{$palette-transparentDark50};
  --color-textIconsBlack: #{$palette-dark100};
  --color-textIconsWhite: #{$palette-white100};
  --color-appliedSeparator: #{$palette-transparentDark8};
  --color-accentsBrandCommunity: #{$palette-accentLight};
  --color-accentsRed: #{$palette-extraRed};
  --color-accentsBgNegative: #{$palette-extraRed10};
  --color-accentsGreen: #{$palette-extraGreenDark};
  --color-backgroundBlack: #{$palette-dark100};
  --color-backgroundWhite: #{$palette-white100};
  --color-input: #{$palette-transparentWhite80};
}

html[data-theme='dark'] {
  --color-backgroundSecondary: #{$palette-dark90};
  --color-backgroundTertiary: #{$palette-dark85};
  --color-backgroundPrimary: #{$palette-dark96};
  --color-textIconsPrimary: #{$palette-white100};
  --color-textIconsSecondary: #{$palette-transparentWhite75};
  --color-textIconsTertiary: #{$palette-transparentWhite50};
  --color-textIconsBlack: #{$palette-dark100};
  --color-textIconsWhite: #{$palette-white100};
  --color-appliedSeparator: #{$palette-transparentWhite8};
  --color-accentsBrandCommunity: #{$palette-accentDark};
  --color-accentsRed: #{$palette-extraRed};
  --color-accentsBgNegative: #{$palette-extraRed15};
  --color-accentsGreen: #{$palette-extraGreenLight};
  --color-backgroundBlack: #{$palette-dark100};
  --color-backgroundWhite: #{$palette-white100};
  --color-input: #{$palette-transparentDark80};
}
