.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

.color-danger {
  svg {
    g {
      opacity: 1;
    }
    path {
      fill: var(--color-accentsRed);
    }
  }
}

.size-112 {
  width: 112px;
  height: 112px;
}

.size-100 {
  width: 100px;
  height: 100px;
}

.size-44 {
  width: 44px;
  height: 44px;
}

.size-28 {
  width: 28px;
  height: 28px;
}

.size-24 {
  width: 24px;
  height: 24px;
}

.size-20 {
  width: 20px;
  height: 20px;
}

.size-16 {
  width: 16px;
  height: 16px;
}

.size-12 {
  width: 12px;
  height: 12px;
}
